@import '../variables.scss';

.container {
  background: $dark;
  color: $white;
  text-align: center;
  :global(.p-sidebar-content) {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  .avatar {
    background: #2196f3;
    color: $white;
  }
  .category {
    margin-top: 1rem;
    width: 100%;
  }
}
